doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Multikart admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author' content='pixelstrap')
    link(rel='icon' href='/images/theme/dashboard/favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='/images/theme/dashboard/favicon.png' type='image/x-icon')
    title Multikart - Premium Admin Template
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    // Font Awesome
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/fontawesome.css')
    // Flag icon
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/flag-icon.css')
    // jsgrid css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/jsgrid.css')
    // Bootstrap css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/bootstrap.css')
    // App css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/admin.css')
  body
    // page-wrapper Start
    .page-wrapper
      // Page Header Start
      .page-main-header
        .main-header-right.row
          .main-header-left.d-lg-none
            .logo-wrapper
              a(href='/')
                img.blur-up.lazyloaded(src='/images/theme/dashboard/multikart-logo.png' alt='')
          .mobile-sidebar
            .media-body.text-right.switch-sm
              label.switch
                a(href='#')
                  i#sidebar-toggle(data-feather='align-left')
          .nav-right.col
            //- ul.nav-menus
              li
                form.form-inline.search-form
                  .form-group
                    input.form-control-plaintext(type='search' placeholder='Search..')
                    span.d-sm-none.mobile-search
                      i(data-feather='search')
              li
                a.text-dark(href='#!' onclick='javascript:toggleFullScreen()')
                  i(data-feather='maximize-2')
              li.onhover-dropdown
                a.txt-dark(href='#')
                  h6 EN
                ul.language-dropdown.onhover-show-div.p-20
                  li
                    a(href='#' data-lng='en')
                      i.flag-icon.flag-icon-is
                      |  English
                  li
                    a(href='#' data-lng='es')
                      i.flag-icon.flag-icon-um
                      |  Spanish
                  li
                    a(href='#' data-lng='pt')
                      i.flag-icon.flag-icon-uy
                      |  Portuguese
                  li
                    a(href='#' data-lng='fr')
                      i.flag-icon.flag-icon-nz
                      |  French
              li.onhover-dropdown
                i(data-feather='bell')
                span.badge.badge-pill.badge-primary.pull-right.notification-badge 3
                span.dot
                ul.notification-dropdown.onhover-show-div.p-0
                  li
                    | Notification 
                    span.badge.badge-pill.badge-primary.pull-right 3
                  li
                    .media
                      .media-body
                        h6.mt-0
                          span
                            i.shopping-color(data-feather='shopping-bag')
                          | Your order ready for Ship..!
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li
                    .media
                      .media-body
                        h6.mt-0.txt-success
                          span
                            i.download-color.font-success(data-feather='download')
                          | Download Complete
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li
                    .media
                      .media-body
                        h6.mt-0.txt-danger
                          span
                            i.alert-color.font-danger(data-feather='alert-circle')
                          | 250 MB trash files
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li.bg-light.txt-dark
                    a(href='#') All
                    |  notification
              li
                a(href='#')
                  i.right_side_toggle(data-feather='message-square')
                  span.dot
              li.onhover-dropdown
                .media.align-items-center
                  img.align-self-center.pull-right.img-50.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/man.png' alt='header-user')
                  .dotted-animation
                    span.animate-circle
                    span.main-circle
                ul.profile-dropdown.onhover-show-div.p-20
                  li
                    a(href='#')
                      i(data-feather='user')
                      | Edit Profile
                  li
                    a(href='#')
                      i(data-feather='mail')
                      | Inbox
                  li
                    a(href='#')
                      i(data-feather='lock')
                      | Lock Screen
                  li
                    a(href='#')
                      i(data-feather='settings')
                      | Settings
                  li
                    a(href='#')
                      i(data-feather='log-out')
                      | Logout
            .d-lg-none.mobile-toggle.pull-right
              i(data-feather='more-horizontal')
      // Page Header Ends
      // Page Body Start
      .page-body-wrapper
        // Page Sidebar Start
        .page-sidebar
          .main-header-left.d-none.d-lg-block
            .logo-wrapper
              a(href='/')
                img.blur-up.lazyloaded(src='/images/theme/dashboard/multikart-logo.png' alt='')
          .sidebar.custom-scrollbar
            .sidebar-user.text-center
              div
                img.img-60.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/man.png' alt='#')
              h6.mt-3.f-14 JOHN
              p general manager.
            ul.sidebar-menu
              li
                a.sidebar-header(href='/dashboard')
                  i(data-feather='home')
                  span Dashboard
              li
                a.sidebar-header(href='#')
                  i(data-feather='box')
                  span Products
                  i.fa.fa-angle-right.pull-right
                ul.sidebar-submenu
                    li
                      a(href='/dashboard/addproduct')
                        i.fa.fa-circle
                        | Add Product
                    li
                        a(href='/dashboard/productlist')
                          i.fa.fa-circle
                          | Product List
              li
                a.sidebar-header(href='')
                  i(data-feather='dollar-sign')
                  span Sales
                  i.fa.fa-angle-right.pull-right
                ul.sidebar-submenu
                  li
                    a(href='/dashboard/orders')
                      i.fa.fa-circle
                      | Orders
                  li
                    a(href='/dashboard/transactions')
                      i.fa.fa-circle
                      | Transactions
        // Page Sidebar Ends
        .page-body
          // Container-fluid starts
          .container-fluid
            .page-header
              .row
                .col-lg-6
                  .page-header-left
                    h3
                      | Product List
                      small Multikart Admin panel
                .col-lg-6
                  ol.breadcrumb.pull-right
                    li.breadcrumb-item
                      a(href='/')
                        i(data-feather='home')
                    li.breadcrumb-item Digital
                    li.breadcrumb-item.active Product List
          // Container-fluid Ends
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header
                    h5 Product Lists
                  .card-body
                    #basicScenario.product-list.digital-product
                      .jsgrid-grid-header
                        table.jsgrid-table
                          tbody
                            tr.jsgrid-header-row
                              th.jsgrid-header-cell.jsgrid-align-right.jsgrid-header-sortable(style='width: 30px;') Id
                              th.jsgrid-header-cell.jsgrid-align-center.jsgrid-header-sortable(style='width: 50px;') Icon
                              th.jsgrid-header-cell.jsgrid-header-sortable(style='width: 100px;') Product Name
                              th.jsgrid-header-cell.jsgrid-header-sortable.jsgrid-header-sort.jsgrid-header-sort-desc(style='width: 50px;') Price
                              th.jsgrid-header-cell.jsgrid-align-right.jsgrid-header-sortable(style='width: 50px;') Inventory
                              th.jsgrid-header-cell.jsgrid-control-field.jsgrid-align-center(style='width: 50px;')
                                input.jsgrid-button.jsgrid-mode-button.jsgrid-insert-mode-button(type='button' title='Switch to inserting')
                            tr.jsgrid-filter-row(style='display: table-row;')
                              td.jsgrid-cell.jsgrid-align-right(style='width: 30px;')
                                input(type='number')
                              td.jsgrid-cell.jsgrid-align-center(style='width: 50px;')
                              td.jsgrid-cell(style='width: 100px;')
                                input(type='text')
                              td.jsgrid-cell(style='width: 50px;')
                                input(type='text')
                              td.jsgrid-cell.jsgrid-align-right(style='width: 50px;')
                                input(type='number')
                              td.jsgrid-cell.jsgrid-control-field.jsgrid-align-center(style='width: 50px;')
                                input.jsgrid-button.jsgrid-search-button(type='button' title='Search')
                                input.jsgrid-button.jsgrid-clear-filter-button(type='button' title='Clear filter')
                            tr.jsgrid-insert-row(style='display: none;')
                              td.jsgrid-cell.jsgrid-align-right(style='width: 30px;')
                                input(type='number')
                              td.jsgrid-cell.jsgrid-align-center(style='width: 50px;')
                                input(type='file')
                              td.jsgrid-cell(style='width: 100px;')
                                input(type='text')
                              td.jsgrid-cell(style='width: 50px;')
                                input(type='text')
                              td.jsgrid-cell.jsgrid-align-right(style='width: 50px;')
                                input(type='number')
                              td.jsgrid-cell.jsgrid-control-field.jsgrid-align-center(style='width: 50px;')
                                input.jsgrid-button.jsgrid-insert-button(type='button' title='Insert')
                      .jsgrid-grid-body
                        table.jsgrid-table
                          tbody
                            each val, index in data
                              - let imageSrc = images.filter(image => image.priProduct_prdID == data[index].prdID)
                              if index % 2 == 0
                                tr.jsgrid-row
                                  td.jsgrid-cell.jsgrid-align-right(style='width: 30px;') #{data[index].prdID}
                                  td.jsgrid-cell.jsgrid-align-center(style='width: 50px;')
                                    if (imageSrc[0] != undefined)
                                      img(src='/images/products/#{imageSrc[0].priName}' alt='' style='height: 50px; width: 50px;  text-align: center !important;')
                                    else 
                                      img(src='/images/theme/digital-product/web-dev.jpg' alt='' style='height: 50px; width: 50px;  text-align: center !important;')
                                  td.jsgrid-cell(style='width: 100px;') #{data[index].prdName}
                                  td.jsgrid-cell(style='width: 50px;') #{data[index].prdPrice.toFixed(2)}
                                  td.jsgrid-cell.jsgrid-align-right(style='width: 50px;') #{data[index].prdQuantity}
                                  td.jsgrid-cell.jsgrid-control-field.jsgrid-align-center(style='width: 50px;')
                                    input.jsgrid-button.jsgrid-edit-button(type='button' title='Edit')
                                    input.jsgrid-button.jsgrid-delete-button(type='button' title='Delete')
                              else
                                tr.jsgrid-alt-row
                                  td.jsgrid-cell.jsgrid-align-right(style='width: 30px;') #{data[index].prdID}
                                  td.jsgrid-cell.jsgrid-align-center(style='width: 50px;')
                                    if (imageSrc[0] != undefined)
                                      img(src='/images/products/#{imageSrc[0].priName}' alt='' style='height: 50px; width: 50px; text-align: center !important;')
                                    else 
                                      img(src='/images/theme/digital-product/web-dev.jpg' alt='' style='height: 50px; width: 50px; text-align: center !important;')
                                  td.jsgrid-cell(style='width: 100px;') #{data[index].prdName}
                                  td.jsgrid-cell(style='width: 50px;') #{data[index].prdPrice.toFixed(2)}
                                  td.jsgrid-cell.jsgrid-align-right(style='width: 50px;') #{data[index].prdQuantity}
                                  td.jsgrid-cell.jsgrid-control-field.jsgrid-align-center(style='width: 50px;')
                                    input.jsgrid-button.jsgrid-edit-button(type='button' title='Edit')
                                    input.jsgrid-button.jsgrid-delete-button(type='button' title='Delete')
          // Container-fluid Ends
          // footer start
          footer.footer
            .container-fluid
              .row
                .col-md-6.footer-copyright
                  p.mb-0 Copyright 2019 © Multikart All rights reserved.
                .col-md-6
                  p.pull-right.mb-0
                    | Hand crafted & made with
                    i.fa.fa-heart
          // footer end
          // latest jquery
          script(src='/javascripts/js/jquery-3.3.1.min.js')
          // Bootstrap js
          script(src='/javascripts/js/popper.min.js')
          script(src='/javascripts/js/bootstrap.js')
          // feather icon js
          script(src='/javascripts/js/icons/feather-icon/feather.min.js')
          script(src='/javascripts/js/icons/feather-icon/feather-icon.js')
          // Sidebar jquery
          script(src='/javascripts/js/sidebar-menu.js')
          // Jsgrid js
          //- script(src='/javascripts/js/jsgrid/jsgrid.min.js')
          //- //- script(src='/javascripts/js/jsgrid/griddata-productlist-digital.js')
          //- script(src='/javascripts/js/jsgrid/jsgrid-list.js')
          // Customizer admin
          //- script(src='/javascripts/js/admin-customizer.js')
          // lazyload js
          script(src='/javascripts/js/lazysizes.min.js')
          // right sidebar js
          script(src='/javascripts/js/chat-menu.js')
          // script admin
          script(src='/javascripts/js/admin-script.js')
